#con{
    background-color:#695ACD ;
    height: 40vh;
    width: 90vh;
    border-radius: 10px;
    box-shadow: #bcbcc3 0px 3px 3px 0px;
 
    font-family: "Playpen Sans", cursive;
 
    
    }



    #con img {
        width: 150px ;
        height: 100px;
    }